<h1>게시물 목록 페이지입니다</h1>
<a href='/home/new'>새 글 쓰기</a>
<br><br>
<%@posts.each do |post| %>
    제목 : <%=post.title%><br><br>
    내용 : <%=post.content%><br>
    <%=link_to post_destroy_path(post_id: post.id) do%>
        <button>삭제</button>
    <%end%>
    
    <%=link_to "/home/edit/#{post.id}" do%>
        <button>수정</button>
    <%end%>
    <br>
    -----------------------------<br>
<%end%>